<h1>Sessions#show</h1>
<p>Find me in app/views/sessions/show.html.erb</p>

<h2>User Data</h2>

<table>
    <tr>
        <td>Auth Provider: </td>
        <td><%= @auth["provider"] %></td>
    </tr>
    <tr>
        <td>Name: </td>
        <td><%= @auth["info"]["display_name"] %></td>
    </tr>
    <tr>
        <td>Unique ID: </td>
        <td><%= @auth["info"]["id"] %></td>
    </tr>
    <tr>
        <td>Mugshot: </td>
        <td><img src="<%= @auth["info"]["images"][0]["url"] %>" width="50" /></td>
    </tr>
    <tr>
        <td>Token: </td>
        <td><%= @auth["credentials"]["token"] %></td>
    </tr>
    <tr>
        <td>Refresh Token: </td>
        <td><%= @auth["credentials"]["refresh_token"] %></td>
    </tr>
</table>

<h2>Auth Contains</h2>
<code>
    <%= @auth.inspect %>
</code>