<h1 class="page-header">All Results Matching <%= params[:search_keywords] %></h1>
<ul>
	<% @all.each do |all| %>
		<li>
			<%= all.artists[0].name%> | <%= all.name %> | <%= all.type %> | <%= all.inspect %>
		</li>
	<% end %>
</ul>

<%= link_to "Back", :back %>