<h1 class="page-header"><%= @artist.name %></h1>
<% @artist.albums(country: 'US').each do |album| %>
 <h3><%= album.name %></h3>
 <table class="table table-striped">
    <% album.tracks.each do |track| %>
      <tr>
        <td><%= track.track_number %></td>
        <td><%= track.name %></td>
        <td><%= track.duration_ms %></td>
        <td><audio controls style="width:45px">
          <source src="<%= track.preview_url %>">
        </audio></td>
        <td><%= form_for @track do |f| %>
          <% f.label :spotify_id %>
          <%= f.hidden_field :spotify_id, :value => track.id %>
          <%= f.submit 'Add to Playlist' %>
        <% end %>
      </td>
      </tr>
    <% end %>  
  </table>
<% end %>

<%= link_to "Back", :back %>