<h1 class="page-header">Song Titles Matching <%= params[:search_keywords] %></h1>
<ul>
 <% @tracks.each do |track| %>
   <li><%= track.artists[0].name%> | <%= track.name %> | <%= link_to 'Preview Track', track.preview_url %> | <%= link_to 'Add to playlist', tracks_path %> </li>
 <% end %>
</ul>

<%= link_to "Back", :back %>