<h1 class="page-header"><%= @album.name %></h1>
 <%# @album.disc_number.each do |album| %>
  <h3><%#= album.name %></h3>
  <%#=@album.inspect%>
  <ul>
    <% @album.tracks.each do |track| %>
      <li>
        <%= track.track_number %> |
        <%= track.artists[0].name %> |
        <%= track.name %> |
        <%= track.duration_ms %> |
        <%= link_to 'Preview Track', track.preview_url %> |
      </li>
    <% end %>
  </ul>
 <%# end %>

 <%= link_to "Back", :back %>