<h1 class="page-header"><%= @track.name %></h1>
<% @artist.albums(country: 'US').each do |album| %>
 <h3><%= album.name %></h3>
 <ul>
   <% album.tracks.each do |track| %>
     <li>
       <%= track.track_number %> |
       <%= @artist.name %> |
       <%= track.name %> |
       <%= track.duration_ms %> |
       <%= link_to 'Preview Track', track.preview_url %> |
     </li>
   <% end %>
 </ul>
<% end %>

<%= link_to "Back", :back %>