<h1 class="page-header">Song Titles Matching <%= params[:search_keywords] %></h1>
<ul>
	<% @tracks.each do |track| %>
		<li><%= track.artists[0].name%> | <%= track.name %> | <%= track.id %> | <audio controls style="width:45px">
        <source src="<%= track.preview_url %>">
        </audio>
			<%= form_for @track do |f| %>
				<% f.label :spotify_id %>
				<%= f.hidden_field :spotify_id, :value => track.id %>
				<%= f.submit 'Add to Playlist' %>
			<% end %> | <%= track.inspect %> </li>
	<% end %>
</ul>

<%= link_to "Back", :back %>