<section class="paralax1" data-type="background" data-speed="10">
    <div class="search_results_show">
        <h1 class="page-header">Song Titles Matching <%= params[:search_keywords] %></h1>
        <table class="table">
            <tr>
                    <th>Song</th>
                    <th>Artist</th>
                    <th>Time</th>
                    <th>Play</th>
                    <th>Add to Playlist</th>
            </tr>
            <% @tracks.each do |track| %>
              <tr>
                <td><%= track.name %></td>
                <td><%= track.artists[0].name%></td>
                <td><%= track.duration_ms %></td>
        		<td><audio controls style="width:45px">
                <source src="<%= track.preview_url %>">
                </audio></td>
                <td><%= form_for @track do |f| %>
        				<% f.label :spotify_id %>
        				<%= f.hidden_field :spotify_id, :value => track.id %>
        				<%= f.submit 'Add to Playlist', class: "add_playlist" %>
        			<% end %></td>
        		
               </tr>
            <% end %> 
        </table>


        <%= link_to "Back", :back %>
    </div>
</section>