<!DOCTYPE html>
<html>
<head>
	<title>Muziqala</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-inverse navbar-static-top">
	<ul class="nav navbar-nav">
		<li><a href="/">Home</a></li>
		<% if session['auth'] %>
			<li><%= link_to 'Profile', "/auth/facebook" %></li>
			<li><%= link_to 'Logout', auth_logout_path, method: :delete %></li>
		<% else %>
			<li><%= link_to 'Login via Facebook', "/auth/facebook" %></li>
		<% end %>
	</ul>
</nav>

<%= form_tag artists_path, method: "get", html: { class: "form" } do %>
 <div class="form-group col-xs-4">
   <%= text_field_tag(:artist_name, "", placeholder: "Enter artist name", class: "form-control") %>
   <%= submit_tag "Search", class: "btn btn-primary" %>
   all: <%= radio_button_tag "all", value = "all" %>
   artist: <%= radio_button_tag 'artist', value = "artist"  %>
   album: <%= radio_button_tag 'album', value = "album"  %>
   track title: <%= radio_button_tag 'track', value = "track"  %>
 </div>
<% end %>

<%= yield %>

</body>
</html>
