<!DOCTYPE html>
<html>
<head>
	<title>Muziqala</title>
	<%= favicon_link_tag 'muziqala_logo.jpg' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-static-top">
		
		<ul class="nav navbar-nav">
			<li id="icon"><%= link_to image_tag('world-music-icon.png') + "muziqala", root_path %></li>

			


				<% if session[:user_id] %>
					<li id="profilebtn"><%= link_to 'Profile', user_path(current_user) %></li>
					<li id="logoutbtn"><%= link_to 'Logout', auth_logout_path, method: :delete %></li>


				<% else %>
					<li id="sign_in"><%= link_to 'Connect to Spotify', '/auth/spotify' %></li>
					<li id="spotify_icon"><%= link_to image_tag("spotify-icon.png", height: '20', width: '20'), '/auth/spotify'%></li>
				<% end %>
			
		</ul>
		<div id="full_search">
			
				  
			<%= form_tag artists_path, method: "get", html: { class: "form" } do %>
				 
				<div class="form-group col-xs-4" class="search">
				   <div id="search_select">
				   		<%= select_tag(:search, options_for_select([['All', "all"], ['Artist', "artist"], ['Album', "album"], ['Track', "track"]], selected: :search, class: "search_select1" )) %>
				   </div>
				   <div id="search_box">
				   		<%= text_field_tag(:search_keywords, "", placeholder: "Enter keywords", class: "form-control") %>
				   </div>
				   <div id="submit">
				   		<%= submit_tag "Search", class: "btn btn-primary" %>
				   </div>
				</div>
			 	
		<% end %>
		<% if session[:user_id] %>
			<div id="usernav"><%= current_user.display_name %></div>
			<div>
				<img id="navpic" src="<%= current_user.image_url %>" />
			</div>
		<% end %>
		</div>
	</nav>
				
		<%= yield %>
</body>
</html>
